aws_region            = "eu-west-1"
project               = "n8n"
allowed_ssh_cidr_ipv4 = "0.0.0.0/0"
allowed_ssh_cidr_ipv6 = "::/0"

instance_type = {
  dev     = "t4g.small"
  staging = "t4g.medium"
  prod    = "t4g.large"
}

key_name = {
  dev     = "your-key-dev"
  staging = "your-key-staging"
  prod    = "your-key-prod"
}

lab_volume_size = {
  dev     = 30
  staging = 50
  prod    = 50
}

cloudflare_tunnel_token = {
  dev     = "your_dev_token_here"
  staging = "your_staging_token_here"
  prod    = "your_prod_token_here"
}
